In [1]:
print("welcome to my tutorial")

welcome to my tutorial

In [2]:
#datatypes
a = 5 #integer
b = 22.3 #float
c = 8j #complex
d = "hello"
print (a+b,c)
print (a+b+c)

27.3 8j
(27.3+8j)

In [3]:
print (a+b+c+d) #error because we can't add str to numbers

TypeError: unsupported operand type(s) for +: 'complex' and 'str'

In [ ]:
e = ["list","if", "found in square brackets",6,8j,range(10)] # list example
print(e)
f = ("tuples","round brackets") # tuple they are non editable
print (f)
g = (("super","set"))
print (g)
h = {'name': "siva", 'role' :"programmer"} #dictionary example
print (h)
print(type(h))

In [ ]:
#functions
i = 12
j = 11
if i>j:
    print ("i is greater :",i)

In [ ]:
k = input("values :") #input from user
print (k)

In [ ]:
for l in range(1,11,2):
    print (l)

In [ ]:
fruits = ["apple", "banana"]

if "apple" in fruits:

     print("Yes, apple is a fruit!")

In [ ]:
x,y = 10,5
print(x+y)

In [ ]:
i = 2
while i<10:
    print(i)
    i+=1

In [4]:
i = 0
for i in range(6):
    print(i)

0
1
2
3
4
5

In [ ]:
i = [2,3,4,5]
j = [6,7,8,9,10]
for k in i:
    for l in j:
        print([k,l])

In [5]:
def myFun(*argv):
    for arg in argv:
        print (arg)
   
myFun('Hello', 'Welcome', 'to', 'GeeksforGeeks')

Hello
Welcome
to
GeeksforGeeks

In [ ]:
def myfunc(*kid):
    print (kid[0]+" "+kid[1])
myfunc("hello","welcome")

In [ ]:
def kit(*kid):
    print("hello"+" "+ kid[1])
kit("john","wick","baby")

In [ ]:
def keyarg(**list):
    for key,value in list.items():
        print (value)
keyarg(fname="don",lname="jon")

In [ ]:
def kits(child1,child2,child3):
    print ("child name is "+child2)
kits(child1="jim",child2="baby",child3="king")

In [ ]:
def kittie(**cat):
    print (cat["lname"])
kittie(fname = "jumpy", lname = "jillu")

In [ ]:
def fit(food):
    for i in food:
        print(i)
fruits = ["apple","banana","mango"]
veg = ["cabbage","potato","tomato"]
fit(fruits)
fit(veg)

In [ ]:
def recur(l):
    if l>0:
        result = l + recur(l-1)
        print (result)
    else:
        result = 0
    return (result)
print("\nrecursion")    
recur(10)

In [ ]:
def func(k):
    print(k)
func("Hello from a function")

In [ ]:
def my_function(fname, lname):
    print(fname)
my_function(fname = "hi", lname   = "hello")

In [ ]:
def mathe(x):
    return x+5
mathe(5)

In [ ]:
def my_function(*kids):
    print("The youngest child is " + kids[2])
my_function("h","j","k")

In [ ]:
def my_function(**kid):
    print("His last name is " + kid["lname"])
my_function(fname = "f" , lname = "g")

In [ ]:
x = lambda a,b : b+a+10
print(x(5,6))

In [ ]:
def myfunc(x):
    return lambda a  : a*x
mydoubler = myfunc(4)
print(mydoubler(11))

In [ ]:
x = lambda a : a
print(x)

In [ ]:
a = [1,25,45,43,234,67]
a.reverse()
print(a)

In [ ]:
a = [1,25,45,43,234,67]
b = a[::-1]
print(b)

In [ ]:
a = [1,25,45,43,234,67]
b= []
for i in reversed(a):
    print(i)
    b.append(i)
print(b)